﻿@model AwsRdpGenerator.Model.RDPProperties


@using (Html.BeginForm("_EditRdpProperties", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="button" class="btn btn-primary" data-toggle="collapse" data-target="#mainSettings" value="Settings">
        <div id="mainSettings" class="collapse">
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ScreenMode, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.ScreenMode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ScreenMode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DesktopWidth, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DesktopWidth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DesktopWidth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DesktopHeight, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DesktopHeight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DesktopHeight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PromptForCredentials, htmlAttributes: new { @class = "col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.PromptForCredentials, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PromptForCredentials, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="advancedSettings" class="collapse">
                <div class="form-group">
                    @Html.LabelFor(model => model.MultiMon, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.MultiMon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MultiMon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ColorDepth, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ColorDepth, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ColorDepth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WinPosStr, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.WinPosStr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WinPosStr, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UseCompression, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.UseCompression, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UseCompression, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KeyboardHook, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.KeyboardHook, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KeyboardHook, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AudioCaptureMode, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AudioCaptureMode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AudioCaptureMode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VideoPlaybackMode, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.VideoPlaybackMode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VideoPlaybackMode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NetworkAutoDetect, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NetworkAutoDetect, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NetworkAutoDetect, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BandwidthAutoDetect, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.BandwidthAutoDetect, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BandwidthAutoDetect, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayConnectionBar, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DisplayConnectionBar, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisplayConnectionBar, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayWallpaper, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DisplayWallpaper, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisplayWallpaper, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AllowFontSmoothing, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AllowFontSmoothing, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AllowFontSmoothing, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AllowDesktopComposition, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AllowDesktopComposition, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AllowDesktopComposition, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisableFullWindowDrag, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DisableFullWindowDrag, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisableFullWindowDrag, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisableMenuAnims, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DisableMenuAnims, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisableMenuAnims, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisableThemes, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DisableThemes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisableThemes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DisableCursorSetting, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DisableCursorSetting, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisableCursorSetting, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BitmapCachePersistEnable, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.BitmapCachePersistEnable, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BitmapCachePersistEnable, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Audiomode, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Audiomode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Audiomode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RedirectPrinters, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RedirectPrinters, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RedirectPrinters, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RedirectComPorts, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RedirectComPorts, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RedirectComPorts, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RedirectSmartCards, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RedirectSmartCards, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RedirectSmartCards, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RedirectClipboard, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RedirectClipboard, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RedirectClipboard, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RedirectPosDevices, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RedirectPosDevices, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RedirectPosDevices, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AutoReconnect, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AutoReconnect, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AutoReconnect, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AuthenticationLevel, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AuthenticationLevel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AuthenticationLevel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NegotiateSecurityLayer, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NegotiateSecurityLayer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NegotiateSecurityLayer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RemoteApplicationMode, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.RemoteApplicationMode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RemoteApplicationMode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AlternateShell, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AlternateShell, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AlternateShell, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShellWorkingDirectory, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ShellWorkingDirectory, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShellWorkingDirectory, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GatewayHostname, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.GatewayHostname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GatewayHostname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GatewayUsageMethod, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.GatewayUsageMethod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GatewayUsageMethod, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GatewayCredentialSource, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.GatewayCredentialSource, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GatewayCredentialSource, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GatewayProfileUsageMethod, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.GatewayProfileUsageMethod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GatewayProfileUsageMethod, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PromptCredentialOnce, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PromptCredentialOnce, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PromptCredentialOnce, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GatewayBrokeringType, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.GatewayBrokeringType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GatewayBrokeringType, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UseRedirectionServerName, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.UseRedirectionServerName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UseRedirectionServerName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.rdgiskdcproxy, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.rdgiskdcproxy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.rdgiskdcproxy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.kdcproxyname, htmlAttributes: new { @class = "col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.kdcproxyname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.kdcproxyname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <input type="button" class="btn btn-primary" data-toggle="collapse" data-target="#advancedSettings" value="Advanced Settings">
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
