﻿@using Amazon.EC2.Model;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Amazon EC2 Instances</h2>
    <img id="base64Img">
    <div class="row">
        <div class="col-md-3">Instance</div>
        <div class="col-md-3">RDP Client</div>
        <div class="col-md-2">Internal IP</div>
        <div class="col-md-2">Public IP</div>
        <div class="col-md-2">Status</div>
    </div>
    @foreach (Instance item in Model)
    {
        <div class="row">
            <div class="col-md-3">@item.InstanceId</div>
            <div class="col-md-3">
            @{
                using (@Html.BeginForm("_GenerateRdp", "Home", new { instanceid = item.InstanceId }, FormMethod.Post))
                {
                    <input type="submit" class="btn btn-default" style="width:100%" value="@item.Tags.FirstOrDefault(x => x.Key == "Name").Value" />
                }
            }
            </div>
            <div class="col-md-2">@item.PrivateIpAddress</div>
            <div class="col-md-2">@item.PublicIpAddress</div>
            <div class="col-md-2">
            @if (item.State.Name == "running")
            {
                @Html.Raw("<div class='btn btn-default' style='color: green' onclick='loadInstanceConsoleImage(\"" + item.InstanceId + "\")'>✓</div>");
            }
            else
            {
                @Html.Raw("<div style='color: Maroon' onclick='loadInstanceConsoleImage(\"" + item.InstanceId + "\")'>✘</div>");
            }
            </div>
        </div>
    }
   
    @Html.Partial("EditRdpProperties", @ViewBag.RdpProperties as AwsRdpGenerator.Model.RDPProperties)
</div>

@section scripts {
<script type="text/javascript">
    function loadInstanceConsoleImage(instanceId) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("_GetConsoleImageBase64", "Home")",
            data: {
                instanceId: instanceId
            },
            success: function (e) {
                $("#base64Img").attr("src", "data:image/png;base64, " + e);
            }
        })
    };
</script>
}